<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} - {{ config.name }}</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto"/>
        <link rel="stylesheet" type="text/css" href="/css/nami.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {{ block('styles') }}
    </head>
    <body>
    <!-- Header content -->
    <header>
        {% include 'template/nav.twig' %}
    </header>
    <!-- Main content -->
    <section id="main">
        {{ block('content') }}
    </section>
    <!-- Global scripts -->
    <!-- Page-specific scripts -->
    {{ block('scripts') }}
    </body>
</html>