
    <div class="container">
        <table id="table" class="rwd-table">
            <thead class="">
            <tr>
                <th>Date start</th>
                <th>Date end</th>
                <th>Time start</th>
                <th>Time end</th>
                <th>Description</th>
                <th>Hoved</th>
                <th>Junior</th>
                <th>Aspirant</th>
                <th></th>
            </tr>
            </thead>
            {% for r in row %}
                <tr class="trRow {{ r.hoved == 1 ? 'hoved' : ''}} {{  r.junior == 1 ? 'junior' : '' }} {{ r.aspirant == 1 ? 'aspirant' : '' }}" data-start="{{ r.date_start.format('Y-m-d') }}"  data-end="{{ r.date_end.format('Y-m-d') }}">
                    <td data-th="Start dato">{{ r.date_start.formatLocalized('%d %B %Y') }}</td>
                    <td data-th="Slutt dato">{{ r.date_end.formatLocalized('%d %B %Y') }}</td>
                    <td data-th="Start tid">{{ r.time_start|date('H:i') }}</td>
                    <td data-th="Slutt tid">{{ r.time_end|date('H:i') }}</td>
                    <td data-th="Beskrivelse">{{ r.description }}</td>
                    <td class="{{ r.hoved == 1 ? 'hoved' : ''}} " data-th="Hoved"><i class="{{ r.hoved == 1 ? 'fas fa-check' : '' }}"></i></td>
                    <td class="{{  r.junior == 1 ? 'junior' : '' }} " data-th="Junior"><i class="{{ r.junior == 1 ? 'fas fa-check' : ''}}"></i></td>
                    <td class="{{ r.aspirant == 1 ? 'aspirant' : '' }}" data-th="Aspirant"><i class="{{ r.aspirant == 1 ? 'fas fa-check' : ''}}"></i></td>
                    <td data-th="Slett / Redigere" class="btnHolder"><button class="btnDelete" data-value="{{ r.id }}"><i class="fas fa-trash-alt"></i></button><button class="btnEdit" data-value="{{ r.id }}"><i class="fas fa-edit"></i></button></td>
                </tr>
            {% endfor %}
        </table>
        <div class="form">
            <form id="eventform" class="eventform hidden" method="post" action="">
                <input type="date" name="date_start" placeholder="Date start">
                <input type="date" name="date_end" placeholder="Date end">
                <input type="time" name="time_start" placeholder="Time start">
                <input type="time" name="time_end" placeholder="Time end">
                <input type="text" name="description" placeholder="Description">
                <label >Hoved <input type="checkbox" name="hoved" ><span class="checkmark"></span></label>
                <label>Junior <input type="checkbox" name="junior"></label>
                <label>Aspirant <input type="checkbox" name="aspirant"></label>
                <input type="submit" id="submit" name="submit">
            </form>
            <button id="addevent"><i class="fas fa-plus-square"></i></button>
        </div>
    </div>

    <div id="myModal" class="modal">

        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2></h2>
            </div>
            <div class="modal-body" style="text-align: center;">
                <form id="editForm" class="eventform-1" method="post" action="">
                    <input type="date" name="date_start" id="date-start" value="">
                    <input type="date" name="date_end" id="date-end" value="">
                    <input type="time" name="time_start" id="time-start" value="">
                    <input type="time" name="time_end" id="time-end" value="">
                    <input type="text" name="description" id="description" value="">
                    <label>Hoved <input id="hoved" type="checkbox" name="hoved" ></label>
                    <label>Junior <input id="junior" type="checkbox" name="junior"></label>
                    <label>Aspirant <input id="aspirant" type="checkbox" name="aspirant"></label>
                    <input type="hidden" name="id" value="" id="rowId">
                    <input type="submit" id="editSubmit" name="editSubmit">
                </form>
            </div>
            <div class="modal-footer">
                <h3></h3>
            </div>
        </div>
    </div>

    <script src="/js/event.js"></script>

